.example-small-box, .example-large-box {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 16px;
  padding: 16px;
  border-radius: 8px;
}

.example-small-box {
  height: 200px;
  width: 500px;
}

.example-large-box {
  height: 300px;
  width: 300px;
}