<mat-tab-group dynamicHeight>
    <mat-tab label="Intro tab">
      <div class="example-small-box mat-elevation-z4">
        <h1>Team MicroMARS 42</h1>
        <p>We are here to present our project, part of Mars Colonization Programme (Engage 2020).</p>
      </div>
      <div class="example-small-box mat-elevation-z4">
        <h1>Meet our Team</h1>
        <p>Click here to know about them xya abe def hjh jjh just one more line</p>
      </div>
      <div class="example-small-box mat-elevation-z4">
        <h1>Problem Statement</h1>
        <p>abra ka dabra</p>
      </div>
      <div class="example-small-box mat-elevation-z4">
        <h1>Achievements</h1>
        <p>LOL</p>
      </div>
    </mat-tab>
    <mat-tab label="Tutorial tab">
      <div class="example-large-box mat-elevation-z4">
        Large content
      </div>
    </mat-tab>

  </mat-tab-group>