<!-- <nav class="navbar is-dark"> -->

  <!-- logo
  <div class="navbar-brand">
    <a class="navbar-item">
      <img src="assets/img/angular-logo.png">
    </a>
  </div>
-->
  <!-- menu -->
  <nav mat-tab-nav-bar [backgroundColor]="background" animationDuration="500ms">
    <a mat-tab-link *ngFor="let link of links"
       (click)="activeLink = link.router"
       [active]="activeLink == link.router" [routerLink] = "link.router"> {{link.view}} </a>
    <!-- <a mat-tab-link disabled>Disabled Link</a> -->
  </nav>

  <div [@routeAnimations]="prepareRoute(outlet)">
    <router-outlet #outlet="outlet"></router-outlet>
  </div>
  <!-- <div class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" routerLink='/my-team' routerLinkActive="active-link">Contact</a>
      <a class="navbar-item" routerLink='/home' routerLinkActive="active-link">Home</a>
    </div>
  </div> -->
  <!-- The routed views render in the <router-outlet>-->
<!-- <router-outlet></router-outlet>

</nav> -->
