.navbar-menu{
    overflow: hidden;
}


.mat-tab-link, .mat-tab-label,
.mat-tab-link-active, .mat-tab-label-active {
    line-height: 40px !important;
    height: 40px !important;
    min-width: 100px !important;
    color: white;
}

.mat-tab-link:hover,
.mat-tab-label:hover{
  margin: 2px 1px 1px 1px;
  border-color: white 100%;
  border-width: 2px;
  border-style: solid;
  border-radius: 8px;
}
