/* .wrapper{
  position: absolute;
  top: 0px;
  height: 100%;
  width: 100%;
  overflow-y: hidden;
  background-color: transparent;
  
} */

#main-page{
  width: 100%;
  height: 100%;
  margin: 0px;
  position: relative;
  /* top: 40px; */
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: #ee4c2c;
}
.svg{
/*	padding-top: 200px;
	padding-left: 1200px;*/
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  margin:0px; 
  height: 100%;

    width: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
    position: relative;
    background-color: transparent;
    border-width: 0px;
    border-inline-style: solid;
}
.svg rect{
    stroke-opacity:1;
    stroke:black;
    fill:white;
}
.svg rect:hover{
    fill: aquamarine;
}
.example-additional-selection {
    opacity: 0.75;
    font-size: 0.75em;
  }
#menu-bar{
    background-color:#cae7df;
    text-decoration-color: blanchedalmond;
    position: absolute;
    float: right;
    top: 10px;
    bottom: 10px;
    right: 1%;
    border-radius: 8px;
    width: 260px;
    /* height: 100%; */
    border-width:  0.5px;
    border-style: solid;
    overflow-y: scroll;
    overflow-x: hidden;
}
form{
    overflow-x: hidden;
    overflow-y: hidden;
    /* position: relative; */
    /* height: inherit; */
    padding-top: 2px;
    text-emphasis: black;
    display: block;
    margin:0px 0px 0px 0px;
    /* border-bottom: black;
    border-style: solid;
    border-width: 1px; */
    /* background-color: yellowgreen; */
}
form mat-label h4{
	text-shadow: 1px 1px rgba(16,16,16,0.2);
  text-align: left;
  color:blue;
  opacity: 0.9;
  padding: 0px 0px 5px 0px;
  margin: 0px 0px 0px 0px;
}
form mat-form-field {
  display: block;
  padding: 0px 10px 0px 10px;
  margin: 0px;
}
/*Styling for Terrain height */
.example-section mat-form-field{
  padding: 0px;
  margin: 0px;
  width: 20%;
}
.example-section mat-form-field input{
  padding: 0px;
  margin: 0px;
  width: fit-content;
}
/*
.button{
  display: inline-flex;
	background-color: grey;
	color: white;
  padding:  3px 5px;
  position: relative;
  margin: 3%;
}*/
/* slider */
.button-cover{
  margin: 0px 0px 0px 0px;
  padding: 0px;
  background-color: tomato;
  /* right: 5%; */
  bottom: 1%;
  right: 1%;
  width: 260px;
  position: fixed;
  border-radius: 8px;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  align-items: center;
}

.button{
  color: white;
  font-weight: none;
  width: 110px;
  text-align: center;
  align-self: center;
  margin: 1.5% 3% 1% 4%;
}
.button:hover{
  border-width: 1px;
  border-color: black;
  border-style: solid;
}
.example-h2 {
    margin: 0;
  }

  .example-margin {
    margin: 0px 0px 0px 3%;
    display: inline-block;
    width: 100%;
    text-align: left;
  }
.gaussian{
  width: 100%;
  display: block;
  margin: none;
}
.gaussian .gaussian-margin{
  margin: none;
  padding: none;
  display: inline-flex;
}

  .mat-slider-horizontal {
    display: inline-flex;
  	align-content: center;
    width: 60%;
    color: black;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
  }
  .slider-labels-start{
    display: inline-flex;
    float: inline-start;
    margin-right: 0px;
    padding-right: 10px;
    padding-left: 20px;
    margin-bottom: 0px;
  }
  .slider-labels-end{
    display: inline-flex;
    float: inline-end;
    margin-left: 80px;
    padding-right: 10px;
    margin-bottom: 0px;
  }
  .slider-labels{
    display: inline-flex;
    float: inline-end;
    color: rgb(4, 0, 255);
    margin: 0px;
    padding: 0px;
  }  
/* */
  .example-result-card h2 {
    margin: 0 8px;
  }
  .example-section {
    display: inline-flex;
    align-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
  }
  .info{
    cursor: move;
    display: inline-block;
    position: absolute;
    width: 120px;
    left: 20px;
    top: 5%;
    background-color: black;
    opacity: 0.8;
    color: white;
  }

  .info h2{
  width: 50px;
  margin-left: 5%;
 	margin-top: 3%;

  }
 .info h4{
   display: inline;
 	  margin-left: 5%;
 }
 ::ng-deep.mat-tab-label, ::ng-deep.mat-tab-label-active{
  min-width: 0!important;
  padding: 3px!important;
  margin: 3px!important;
  overflow-x: hidden !important;
  opacity: 100%;
  color: black;
 }
 .mat-tab-link:hover,
::ng-deep .mat-tab-label:hover{
  margin: 2px 1px 1px 1px;
  border-color: navy;
  border-width: 2px;
  border-style: solid;
  border-radius: 8px;
}
 /* ::ng-deep .mat-select-panel,::ng-deep .mat-select-content {
  padding: 0px; 
  border-style: solid;
  border-width: 10px;
  border-color: yellow;
} */
.mat-select{
  margin-bottom: none;
}
.mat-divider {
  border-top-color: white;
}
/* width */
/* Not SUPPORTED BY IE */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: yellowgreen; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000; 
}
.transform-active{
  scale: 1.2;
}