
<div id="main-page">
	<svg class="svg"  [attr.height]="height" [attr.width]="width">
        <rect *ngFor="let i of gridCord" [id]="i.value + ',' + i.x + ',' + i.y"  [attr.x]=i.x [attr.y]=i.y [attr.width]="30" [attr.height]="30" rx="0" ry="0" (mousedown)="mouseDownE(i.x, i.y)" (mouseup)="mouseUp(i.x,i.y)" (mouseleave)="fillGrey(i.x, i.y)"  (click)="fillColor(i.x,i.y)"> </rect>
		<line *ngFor="let i of pathCord" [attr.x1]="i.x1" [attr.y1]="i.y1" 
		[attr.x2]="i.x2" [attr.y2]="i.y2" style="stroke:rgb(255,0,0);stroke-width:2" />
   		<!-- <text  *ngFor="let i of gridCord" [attr.x]=i.x+3 [attr.y]=i.y+27 font-size= "11"> {{i.g}} </text>
   		<text  *ngFor="let i of gridCord" [attr.x]=i.x+16 [attr.y]=i.y+27 font-size= "11"> {{i.h}} </text>
   		<text  *ngFor="let i of gridCord" [attr.x]=i.x+8 [attr.y]=i.y+15 font-size= "12"> {{i.f}} </text> -->
	</svg>
	<div id = "menu-bar">
		<form>

	    	<mat-form-field appearance="fill">
	        	<mat-label><h4>Problem Statement</h4></mat-label>
	        	<mat-select [(ngModel)]="selectedPS" name="PS" value = "selectedPS" [ngModelOptions]="{standalone: true}" >
			        <mat-option *ngFor="let ps of Problem_statement" [value]="ps.value">
		        	    {{ps.viewValue}}
			        </mat-option>
	        	</mat-select>
				</mat-form-field>
		    	<mat-form-field appearance="fill">
	        	<mat-label><h4>Maze</h4></mat-label>
	        	<mat-select [(ngModel)]="selectedMaze" name="maze" value = "selectedMaze" [ngModelOptions]="{standalone: true}" (ngModelChange)="changeMaze()"> 
			        <mat-option *ngFor="let ps of maze" [value]="ps.value">
		        	    {{ps.viewValue}}
			        </mat-option>
	        	</mat-select>
					</mat-form-field>

	    	<mat-form-field appearance="fill">
	        	<mat-label><h4>Algorithms</h4></mat-label>
	        	<mat-select [(ngModel)]="selectedValue" name="SV" [ngModelOptions]="{standalone: true}">
			        <mat-option *ngFor="let algo of Algorithms" [value]="algo.value">
		        	    {{algo.viewValue}}
			        </mat-option>
	        	</mat-select>
			</mat-form-field>
			
			<mat-checkbox class = "example-margin" color="primary" [(ngModel)]="allowDiag" [ngModelOptions]="{standalone: true}" >Allow Diagonal</mat-checkbox>
			

			<!--   <h4>Scam fill</h4>
		      <mat-form-field appearance="fill">
		        <mat-label>Favorite car</mat-label>
		        <select matNativeControl [(ngModel)]="selectedCar" name="car">
		          <option value="" selected></option>
		          <option *ngFor="let car of cars" [value]="car.value">
		            {{car.viewValue}}
		          </option>
		        </select>
			  </mat-form-field> -->
			<section id = 'Problem_statement 2' *ngIf = "selectedPS === 'PS_2'">
				<mat-divider></mat-divider>
				<mat-label><h4 style="color: black;">Choose no of destinations</h4></mat-label>  
				<div class="example-section">
					<mat-divider></mat-divider>				
					
					<mat-slider class="example-margin"
						color="primary"
						[max]=max
						[min]=min
						[step]="step"
						[thumbLabel]=true
						[(ngModel)]="selectedDest"
						
						[ngModelOptions]="{standalone: true}">
					</mat-slider>
					<mat-form-field class="example-margin">
						<input matInput type="number" value="{{selectedDest}" [(ngModel)]="selectedDest" [ngModelOptions]="{standalone: true}" max="50" min="1">
					</mat-form-field>
				</div>
				<mat-slide-toggle class="example-margin"
						color="primary"
						[checked]="false"
						[disabled]="false"
						[(ngModel)]="isPref"
						[ngModelOptions]="{standalone: true}"
						onmouseover="console.log('ok')">
						User Preference
				</mat-slide-toggle>
				<div *ngIf = "isPref">
					give ideas pljh:
					choose option <>
				</div>
			</section>
			<mat-divider></mat-divider>

			<mat-checkbox class="example-margin" color="primary" [(ngModel)]="showPath" [ngModelOptions]="{standalone: true}" (change)="checkValue(showPath?'yes':'no')" >Show Path</mat-checkbox>


			<mat-divider></mat-divider>
			<section id = "Terrain" *ngIf = "selectedValue!='bfs'">
				<div class="example-section">
					<mat-divider></mat-divider>
					<mat-slide-toggle class="example-margin"
						color="primary"
						[checked]="false"
						[disabled]="false"
						(change)="terrainToggle(isTerrain)"
						[(ngModel)]="isTerrain"
						[ngModelOptions]="{standalone: true}">
						Terrain Distribution
					</mat-slide-toggle>
				</div>
			</section>
			<div class = "example-margin" *ngIf = "selectedPS == 'PS_1' && !isTerrain">
				<mat-divider *ngIf = "selectedValue!='bfs'"></mat-divider>
				<h4 *ngIf = "selectedValue!='bfs'"><em>Options Not applicable with Terrain distribution</em></h4>
				<mat-checkbox color = "primary" [(ngModel)]="notCrossCorner" [ngModelOptions]="{standalone: true}">Do not cross corners</mat-checkbox>
				<mat-checkbox color = "primary" [(ngModel)]="bidirection" [ngModelOptions]="{standalone: true}" >Bi-Directional</mat-checkbox>
			</div>
			<section id = "Terrain" *ngIf = "selectedValue!='bfs'">
				<div class="example-section" *ngIf = "isTerrain"> 
			  <!-- Slider Config for terrain (not applicable incase of bfs)-->
					<mat-slider class="example-margin" 
						color="primary"
						[max]=max
						[min]=min
						[step]="step"
						[thumbLabel]=true
						[value]="choose"
						[(ngModel)]="choose"
						(input)="onChange($event)"
						[ngModelOptions]="{standalone: true}">
					</mat-slider>
					<mat-form-field class="example-margin">
						<input matInput type="number" value="{{choose}}" [(ngModel)]="choose" (input)="onSearchChange($event.target.value)" [ngModelOptions]="{standalone: true}" max="100" min="0">
					</mat-form-field>
				</div>
				<mat-divider></mat-divider>
				<div class="example-section">
					<mat-slide-toggle class="example-margin"
						color="primary"
						[checked]="false"
						[disabled]="false"
						[(ngModel)]="isGaussian"	
						*ngIf = "isTerrain == true"
						[ngModelOptions]="{standalone: true}">
						Gaussian Distribution
					</mat-slide-toggle>
				</div>
		
			<!--Gaussian Tabs-->
				<div class = "slider-labels-start" *ngIf = "isGaussian">Covariance x-axis</div>
					<mat-slider *ngIf = "isGaussian" class="example-margin"
						color=warn
						[max]=100
						[min]=0
						[step]="step"
						[thumbLabel]=true
						[value]="cov_x"
						[(ngModel)]="cov_x"
						[ngModelOptions]="{standalone: true}">
					</mat-slider>
				<div class = "slider-labels" *ngIf = "isGaussian">{{cov_x}}</div>
				<div class = "slider-labels-start" *ngIf = "isGaussian">Covariance y-axis</div>
				<mat-slider	*ngIf = "isGaussian" class="example-margin"
					color = warn
					[max]=100
					[min]=0
					[step]="step"
					[thumbLabel]=true
					[value]="cov_y"
					[(ngModel)]="cov_y"
					[ngModelOptions]="{standalone: true}">
				</mat-slider>
				<div class = "slider-labels" *ngIf = "isGaussian">{{cov_y}}</div>
				<mat-divider></mat-divider>
			</section>
			<!-- {{choose}} -->
			<!-- Slider Config ends-->
			<!-- <button (click)="inc_step()" style="margin: 10px;">step inc</button> -->
			<!-- <button (click)="search_A()" style="margin: 10px;">A*</button> -->
			<button class = "button" (click)="reset()">Reset All</button>
	        <button class = "button" (click)="Search()">Start Search</button>
			<button class = "button" (click)="clearWall()">Clear Walls</button>
			<button class = "button" (click)="clearPath()">Clear Path</button>
			<mat-divider></mat-divider>
			<div class= "info">
				<h2>Info </h2>
				<mat-divider></mat-divider>
				<h4> Steps : {{steps}}</h4>
				<mat-divider></mat-divider>
				<h4> Time : {{time}}ms</h4>
				<mat-divider></mat-divider>
				<h4> Length : {{lengthS}}</h4>
			</div>
			  <!--	<div class="example-button-row">
					<div class="example-flex-container">
				  		<div class="example-button-container">
						<button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon">
					  	<mat-icon>menu</mat-icon>
						</button>
				  		</div>
					</div>
			  	</div>-->
		</form>

	</div>
	
</div>


