.main-page{
	width: 100%;
  height: fit-content;
  overflow-x: hidden;
}
.svg{
/*	padding-top: 200px;
	padding-left: 1200px;
*/  padding-top: 20px;
  padding-left: 20px;

    height: 100%;
    width: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
    position: center;
}
.svg rect{
    stroke-opacity:1;
    stroke:black;
    fill:white;
}
.svg rect:hover{
    fill: aquamarine;
}
.example-additional-selection {
    opacity: 0.75;
    font-size: 0.75em;
  }
#menu-bar{
    background-color: rgb(200,200,200);
    text-decoration-color: blanchedalmond;
    position: absolute;
    top: 70px;
    right: 1%;
    border-radius: 8px;
    width: fit-content;
    height: fit-content;
    border-width:  50px;
}
form{
    text-emphasis: black;
    display: block;

}
form h4{
	text-shadow: 1px 1px rgba(16,16,16,0.2);
	padding-top: 10px;
    text-align: center;
    color:black;
}
form mat-form-field {
	padding: 0px 22px 0px 20px;
}


.button{
  display: inline-flex;
	background-color: grey;
	color: white;
  padding:  3px 5px;
  position: relative;
  margin: 3%;
}
/* slider */
.example-h2 {
    margin: 0 8px 16px;
  }

  .example-margin {
    margin: 5%;
    display: block;
    text-align: center;
  }
  .example-margin matlabel{
    
  }

  .mat-slider-horizontal {
  	align-content: center;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }

  .example-result-card h2 {
    margin: 0 8px;
  }
  .example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: fit-content;
  }

  .info h2{
  margin-left: 20px;
 	margin-top: 15px;

  }
 .info h4{
 	margin-left: 30px;
 }
