.main-page{
	width: 100%;
  height: fit-content;
  position: relative;
  overflow-x: hidden;
}
.svg{
/*	padding-top: 200px;
	padding-left: 1200px;*/
  padding-top: 20px;
  padding-left: 20px;

    height: 100%;
    width: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
    position: center;
    background-color: #ee4c2c;
    border-width: 0px;
    border-inline-style: solid;
}
.svg rect{
    stroke-opacity:1;
    stroke:black;
    fill:white;
}
.svg rect:hover{
    fill: aquamarine;
}
.example-additional-selection {
    opacity: 0.75;
    font-size: 0.75em;
  }
#menu-bar{
    background-color:#cae7df;
    text-decoration-color: blanchedalmond;
    position: absolute;
    float: right;
    top: 60px;
    right: 1%;
    border-radius: 8px;
    width: 250px;
    height: fit-content;
    border-width:  0.5px;
    border-style: solid;
    overflow: hidden;
}
form{
    overflow: hidden;
    text-emphasis: black;
    display: block;
    margin:0px;
}
form mat-label h4{
	text-shadow: 1px 1px rgba(16,16,16,0.2);
  text-align: left;
  color:blue;
  opacity: 0.9;
  padding: 0px 0px 5px 0px;
  margin: 0px 0px 5px 0px;
}
form mat-form-field {
  display: block;
  padding: 10px 10px 0px 10px;
  margin: 0px;
}
/*Styling for Terrain height */
.example-section mat-form-field{
  padding: 0px;
  margin: 0px;
  width: 20%;
}
.example-section mat-form-field input{
  padding: 0px;
  margin: 0px;
  width: fit-content;
}
/*
.button{
  display: inline-flex;
	background-color: grey;
	color: white;
  padding:  3px 5px;
  position: relative;
  margin: 3%;
}*/
/* slider */
.button{
  color: white;
  font-weight: none;
}
.button:hover{
  border-width: 1px;
  border-color: black;
  border-style: solid;
}
.example-h2 {
    margin: 0;
  }

  .example-margin {
    margin: 3%;
    display: block;
    width: 100%;
    text-align: left;
  }

  .mat-slider-horizontal {
    display: inline-flex;
  	align-content: center;
    width: 60%;
    color: black;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
  }
  .slider-labels-start{
    display: flex;
    float: inline-start;
    margin-right: 0px;
    padding-left: 10px;
  }
  .slider-labels{
    display: inline-flex;
    float: inline-end;
    color: rgb(4, 0, 255);
    margin: 0px;
    padding: 0px;
  }  
/* */
  .example-result-card h2 {
    margin: 0 8px;
  }
  .example-section {
    display: inline-flex;
    align-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
  }

  .info h2{
  margin-left: 20px;
 	margin-top: 15px;

  }
 .info h4{
 	margin-left: 5%;
 }
 ::ng-deep.mat-tab-label, ::ng-deep.mat-tab-label-active{
  min-width: 0!important;
  padding: 3px!important;
  margin: 3px!important;
  overflow-x: hidden !important;
  opacity: 100%;
  color: black;
 }
 .mat-tab-link:hover,
::ng-deep .mat-tab-label:hover{
  margin: 2px 1px 1px 1px;
  border-color: navy;
  border-width: 2px;
  border-style: solid;
  border-radius: 8px;
}
 /* ::ng-deep .mat-select-panel,::ng-deep .mat-select-content {
  background: red;
} */
.mat-divider {
  border-top-color: white;
}