<div class="wrapper">
	<h2>Special Vote of Thanks to our Mentor, Mayank Rathore for constantly supporting us and assisting us
		throughout our journey.
	</h2>
	<mat-grid-list cols="4"  rowHeight="2:0.8" >
		<mat-grid-tile
		  *ngFor="let tile of tiles"
		  [colspan]="tile.cols"
		  [rowspan]="tile.rows"
		  [style.background]="tile.color">
		  <div class = "inside-tile">
		    <h4>{{tile.content}}</h4>
		    <div class="flip-card" >
		      <div class="flip-card-inner" [ngStyle]="{'background-image': 'url(' + tile.photoId + ')'}">
		        <div class="flip-card-front">

		        </div>
		        <div class="flip-card-back">
		          <div class="social-media" >
		            <li><a href={{tile.email}} target="_blank"><i
		              class="fa fa-google fa-3x mb-3" ></i></a></li>
		            <li><a href={{tile.git}} target="_blank"><i
					  class="fa fa-github fa-3x mb-3" ></i></a></li>
					<li>{{tile.text}}</li>
		          </div>
		        </div>
		      </div>
		    </div>
		  </div>
		</mat-grid-tile>
	</mat-grid-list>

</div>
