<div class="wrapper">
	<div class="note">
		<h1>Special Vote of Thanks to our Mentor, Mayank Rathore for constantly supporting us and assisting us
			throughout our journey.	</h1>
	</div>
	<mat-grid-list cols="4"  rowHeight="2:0.8" >
		<mat-grid-tile
		  *ngFor="let tile of tiles"
		  [colspan]="tile.cols"
		  [rowspan]="tile.rows"
		  [style.background]="tile.color">
		  <div class = "inside-tile">
			<h4>{{tile.content}}</h4>
			<div class = "info">
				<div class="social-media">
					<ul>
				<li><a target="_blank" [href]="tile.email"><i
					class="fa fa-google fa-2x mb-3"></i></a></li>
				<li><a [href]="tile.git" target="_blank"><i
					class="fa fa-github fa-2x mb-3"></i></a></li>
				<!-- <li>{{tile.text}}</li> -->
					</ul>
				</div>
			</div>
		    <div class="flip-card">
		      <div class="flip-card-inner" [ngStyle]="{'background-image': 'url(' + tile.photoId + ')'}">
		        <div class="flip-card-front">
		        </div>
		        <div class="flip-card-back">
		          <div class="social-media" >
		            <ul>
                  <li><a target="_blank" [href]="tile.email"><i
                    class="fa fa-google fa-3x mb-3" ></i></a></li>
                  <li><a [href]="tile.git" target="_blank"><i
                    class="fa fa-github fa-3x mb-3" ></i></a></li>
                  <li>{{tile.text}}</li>
                	</ul>
		          </div>
		        </div>
		      </div>
		    </div>
		  </div>
		</mat-grid-tile>
	</mat-grid-list>

</div>
