<div id="main-page">
    <svg class="svg"  [attr.height]="height" [attr.width]="width">
        <rect *ngFor="let i of gridCord" [attr.x]=i.x [attr.y]=i.y [attr.width]="30" [attr.height]="30"
              rx="0" ry="0" (mousedown)="mouseDownE(i.x, i.y)" (mouseup)="mouseUp(i.x,i.y)"               (mouseleave)="fillGrey(i.x, i.y)"  (click)="fillColor(i.x,i.y)"></rect>
	</svg>
	<div id = "menu-bar">
		<form>
		      <h4>Choose Algorithm</h4>
		      <mat-form-field appearance="fill">
		        <mat-label>Algo</mat-label>
		        <mat-select [(ngModel)]="selectedValue" name="food">
		          <mat-option *ngFor="let algo of Algorithms" [value]="algo.value">
		            {{algo.viewValue}}
		          </mat-option>
		        </mat-select>
		      </mat-form-field>
		    <!--   <h4>Scam fill</h4>
		      <mat-form-field appearance="fill">
		        <mat-label>Favorite car</mat-label>
		        <select matNativeControl [(ngModel)]="selectedCar" name="car">
		          <option value="" selected></option>
		          <option *ngFor="let car of cars" [value]="car.value">
		            {{car.viewValue}}
		          </option>
		        </select>
			  </mat-form-field> -->
			<section class="example-section">
			  <!-- Slider Config-->
			  <mat-form-field class="example-margin">
				<mat-label>Value</mat-label>
				<input matInput type="number" value="{{choose}}" [(ngModel)]="choose" (input)="onSearchChange($event.target.value)"
				[ngModelOptions]="{standalone: true}" max="100" min="0">
			  </mat-form-field>
			</section>
			  <mat-slider
				class="example-margin"
				[max]=max
				[min]=min
				[step]="step"
				[thumbLabel]=true
				[value]="choose"
				[(ngModel)]="choose"
				(input)="onChange($event)"
				[ngModelOptions]="{standalone: true}">
			</mat-slider>
			{{choose}}
			<!-- Slider Config ends-->
		      <button class = "buttonSearch" (click)="Search()">Start Search</button>
		      <button class = "buttonWall" (click)="clearWall()">Clear Walls</button>
			  <!--	<div class="example-button-row">
					<div class="example-flex-container">
				  		<div class="example-button-container">
						<button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon">
					  	<mat-icon>menu</mat-icon>
						</button>
				  		</div>				  
					</div>
			  	</div>-->
		</form>
	</div>
</div>
